composer.phar
/vendor/
.idea
/.bumbleDocGenCache/
/last_run.log
/.phpunit.result.cache
/demo/*/__cache/
/demo/*/.cache/
/demo/*/docs/
/demo/*/last_run.log

/demo/demo1/docs/
/demo/demo2-templates-generation/templates/
/demo/demo4-generating-readme-file/templates/
