composer.phar
/vendor/
.idea
/SelfDoc/__cache/
/demo/demo1/docs/
/demo/demo1/__cache/
/demo/demo2-templates-generation/__cache/
/demo/demo2-templates-generation/docs/
/demo/demo3-add-missing-doc-blocks/__cache/
/demo/demo4-generating-readme-file/__cache/
/demo/demo4-generating-readme-file/docs/
/demo/demo4-generating-readme-file/templates/
/last_run.log
/.phpunit.result.cache
/demo/demo2-templates-generation/templates/
