{% if classEntity.hasTraits() %}
<h2>Traits:</h2>

<ul>
    {% for traitName in classEntity.getTraitsNames() %}
    <li><b>{{ traitName | strTypeToUrl(classEntity.getRootEntityCollection()) }}</b></li>
    {% endfor %}
</ul>
{% endif %}