<h2>Settings:</h2>

{% set twigFilterData = classEntity.getPluginData('twigFilterClassParserPlugin') %}
<table>
    <tr>
        <th>name</th>
        <th>value</th>
    </tr>
    <tr>
        <td>Filter name:</td>
        <td><b>{{ twigFilterData.name }}</b></td>
    </tr>
</table>
