---
title: Project interfaces
prevPage: Project structure
---
{{ drawPageBreadcrumbs() }}

# Project interfaces

<table>
<tr><th>Name</th><th>Namespace</th></tr>
{% for interfaceEntity in phpEntities.getOnlyInterfaces() %}
<tr><td>[a x-title='{{ interfaceEntity.getShortName() }}']{{ interfaceEntity.getName() }}[/a]<td>{{ interfaceEntity.getNamespaceName() }}</td></tr>
{% endfor %}
</table>