{% set title = 'Documentation structure and breadcrumbs' %}
{% set prevPage = 'Renderer' %}
{{ generatePageBreadcrumbs(title, _self) }}

{{ "Documentation structure and breadcrumbs" | textToHeading('H1') }}

For breadcrumbs, we have class <a>BreadcrumbsHelper</a>.
It contains methods that allow you to get additional information from the templates, such as the title of the page,
and also gives you the ability to get breadcrumbs for the current page in html format or as an array.

In templates, you can use the built-in function <a>GeneratePageBreadcrumbs</a>, which turns the rendered breadcrumbs into rst or html format:

{{ '<pre>&#123;&#123; generatePageBreadcrumbs(title, _self) &#125;&#125;</pre>' }}

With this function, you can generate breadcrumbs for the template, for example, in the example shown, breadcrumbs are generated for the current page