<h2>Settings:</h2>

{% set twigFunctionData = classEntity.getPluginData('twigFunctionClassParserPlugin') %}
<table>
    <tr>
        <td>Function name:</td>
        <td><b>{{ twigFunctionData.name }}</b></td>
    </tr>
</table>
